<%- include("includes/head.ejs") %>
<body>
    <h2>this page belongs to @<%= data.name %> </h2>
    <p>followers : <%= data.followers %> &nbsp; &nbsp; &nbsp; &nbsp; followings: <%= data.following %></p>

    <% for(let post of data.posts) { %>
        <img src="<%= post.image %>" alt="some img" />
        <p>
            Likes : <%= post.likes %> &nbsp;&nbsp;&nbsp;Comments : <%= post.comments %>
        </p>
    <% } %>

    
</body>
</html>